.price:before {
  content: "$";
}

.topping {
  padding-bottom: 0.3em;

}

.pizza-selection {
  padding-bottom: 0.3em;

}

.topbar {
  text-align: center;
}

#pizzas-list {
  text-align: center;
}

#pizza-display .card-footer {
  text-align: center;
}
